.sign-in {
	width: 50%;
	max-width: 450px;
	padding: 40px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;

	.title {
		margin: 10px 0px;
	}
	.buttons {
		display: flex;
		justify-content: space-between;
	}
}
