.checkout {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	min-height: 90vh;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	box-sizing: border-box;

	@media screen and (max-width: 639px) {
		flex-direction: column;
	}

	.form-holder {
		width: 50%;
		margin-top: 50px;
		padding: 30px;
		padding-top: 0px;
		box-sizing: border-box;

		@media screen and (max-width: 639px) {
			width: 100%;
		}
	}
}
