.orderhistory-page {
	width: 90%;
	max-width: 800px;
	min-height: 90vh;
	align-items: center;
	margin: 50px auto 0;
	table {
		border-collapse: collapse;
	}
	.checkout-header {
		th {
			width: 100%;
			padding: 10px 0;
			border-bottom: 1px solid darkgrey;
			white-space: nowrap;
			font-weight: 400;
			padding: 15px 5px;
		}
		.header-block {
			text-transform: capitalize;
			padding: 6px;
			&:first-child {
				text-align: center;
				width: 80px;
			}

			&:last-child {
				width: 8%;
			}
		}
		.quantity {
			text-align: center;
		}
		.price {
			min-width: 75px;
			text-align: center;
		}

		.address {
			min-width: 180px;
			text-align: left;
		}
	}

	.total {
		margin-top: 16px;
		margin-left: auto;
		font-size: 22px;
		padding-bottom: 15px;
		width: 100%;
		text-align: right;
		border-bottom: 1px solid darkgrey;
	}

	button {
		margin-left: auto;
		margin-top: 15px;
	}
	.test-warning {
		text-align: center;
		margin-top: 40px;
		font-size: 24px;
		color: red;
	}
}
